.SignUp {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: flex-start;

  height: 700px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
.SignUp h2 {
  margin-top: 5rem;
  font-size: 2.4rem;
}
.SignUp .input {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #dfdfdf42;
  color: grey;
  outline: none;
  width: 40%;
  min-width: 250px;
}
.errMsg {
  padding: 0;
  color:#3859f3d6;
  margin: 0 0 0.5rem 0;
  padding-bottom: 1rem;
}
.SignUpButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #3859f3d6;
  border: 1px solid #3859f3d6;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}
.SignUpButton:hover {
  color: #3859f3d6;
  background-color: white;
}
@media (max-width: 900px) {
  .SignUp {
    background-image: none;
  }
}
